* {
    font-family: sans-serif;
    background-color:chocolate;
}
#cake {
    position: absolute;
    top: 40%;
    left:40%;
}
#faster {
    position: absolute;
    top: 70%;
    left:42%;
    color: black;
}
#MoreOvens {
    position: absolute;
    top: 85%;
    left:42%;
    color: black;
}